<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- 1 -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
  <title th:text="#{welcome}"></title> <!-- 2 -->
  <style>
.content {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 10px;
}

  </style>
</head>
<body>
<div class="content">
  <br/>
  <br/>
  <span th:text="#{welcome}"></span><br>
  <p th:text="#{placeholder_lingochecks}"></p>
  <br/>
  <br/>
  <input type="button" name="log" id="log" value="Log Out"
         onclick="window.location.href='http://localhost:8080/login';">
  <br><br>
</div>
</body>
</html>